<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.0" type="text/css">


<title>Sticky Element | Boilerplate</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Boilerplate</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-177d115da0d01aa790cd523157e73fd5">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/sticky-element.html" title="Component preview">
            Sticky Element
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-177d115da0d01aa790cd523157e73fd5">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/sticky-element.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-177d115da0d01aa790cd523157e73fd5">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-177d115da0d01aa790cd523157e73fd5-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-177d115da0d01aa790cd523157e73fd5-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-177d115da0d01aa790cd523157e73fd5-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-177d115da0d01aa790cd523157e73fd5-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-177d115da0d01aa790cd523157e73fd5-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-177d115da0d01aa790cd523157e73fd5-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-177d115da0d01aa790cd523157e73fd5-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">aside</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sticky-element element-fixed"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"position: fixed; top: 100px;"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>This will stick for 500 pixels<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"margin-bottom: 400px"</span>&gt;</span>
        WOW SUCH STICK VERY STABLE
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">aside</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ipsum voluptatem doloribus culpa tempore sed. A consequatur corporis eum ducimus sapiente Sit quas unde blanditiis doloremque nulla. Esse reprehenderit vero error rem necessitatibus Sapiente quisquam blanditiis reprehenderit libero quos? Similique libero
    provident inventore eius repellendus dolor placeat libero Omnis illum dolorum quis nam enim itaque, autem. Veniam eligendi inventore quis assumenda rerum ducimus sed distinctio exercitationem Animi amet libero quidem voluptates debitis, illum? Id
    non mollitia maxime rerum commodi expedita culpa placeat. Nemo impedit dolore harum debitis aspernatur Voluptatem aut nobis sapiente nemo suscipit, soluta animi Reiciendis blanditiis sint magni modi quaerat. Laboriosam in dicta distinctio tenetur
    aliquid? Sit.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Amet tempora vitae et tempora reiciendis. Explicabo nulla porro nobis voluptate excepturi Repellendus ut neque laborum sunt sapiente. Eius assumenda distinctio laborum et adipisci, cumque. Dicta quae rem expedita dolorem autem? Inventore dolorum at dignissimos
    veniam voluptas iure. Deserunt quidem soluta rerum magni sit, nemo Delectus odit ipsum corporis quod eos optio Ex sapiente earum eligendi molestiae nihil Cupiditate pariatur numquam nemo mollitia iste culpa, ducimus. Perspiciatis illo quis officia
    nemo error optio blanditiis Eligendi voluptatum quasi reprehenderit fuga cum quia pariatur illum. Nam asperiores natus quibusdam nostrum delectus ut praesentium Sint quibusdam beatae praesentium a delectus, cupiditate similique Amet!<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Dolor aliquam possimus vero maxime est? Nisi distinctio explicabo inventore doloremque nam? Repellendus ad dolores molestias tempora animi? Labore placeat voluptas iusto voluptatum animi Iste quos adipisci numquam nesciunt iure Voluptas sunt hic adipisci
    repellat minima? Quas vero in eligendi omnis mollitia Aut eum et ex recusandae odio Sequi officia placeat blanditiis quia omnis, totam. Magnam fugit sapiente deserunt illo veritatis Tenetur esse at veritatis dolorum ab. Perferendis officiis dolor
    autem tenetur doloribus tempore expedita. Amet ducimus autem quia debitis minima. Cupiditate ea quasi eos fuga tenetur Ipsa a at exercitationem sequi commodi ex Minus quam eius neque nulla iusto<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ipsum vitae ab possimus laboriosam voluptate nostrum Ratione ducimus itaque et id optio! Odit nobis alias nihil exercitationem nostrum Tempora laudantium a alias a suscipit Recusandae autem saepe dolor sapiente modi. Vel totam quia hic nobis quis Exercitationem
    eaque veritatis modi nihil esse. Numquam atque ratione velit in minima Eveniet in dicta ullam quia ad Nostrum eius odit voluptas maxime cumque. Libero nam atque sapiente ipsam sint Enim obcaecati illo in amet quidem. Necessitatibus eligendi quam molestiae
    voluptatem voluptatum beatae, impedit magni Ut enim inventore aliquid iste quasi facilis inventore. Atque harum maxime quis unde molestiae Culpa labore perspiciatis repellat.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ipsum totam voluptatibus eveniet sequi eligendi? Veritatis ipsum quod nostrum consectetur beatae! Sint reiciendis quas in quos sint, distinctio Accusantium vero cupiditate labore iure ea. Ipsum dolore omnis distinctio voluptates aliquid. Numquam nemo
    laboriosam veniam ab obcaecati Ipsa aut placeat quaerat quo recusandae minima Tempore magnam corrupti natus fugiat laborum nisi Voluptatum repellat distinctio provident amet praesentium Quis sit esse maxime placeat nulla, asperiores, nesciunt Quisquam
    nisi cupiditate quos magni illo corporis quae? Dolores tempora maiores voluptates aut sed, minima iste Dolorem ab delectus debitis minima voluptates enim! Cumque reprehenderit neque nemo accusantium ullam distinctio aut Consectetur quibusdam voluptatum
    tempore<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-177d115da0d01aa790cd523157e73fd5-panel-view">
    <code class="Code Code--lang-twig">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">aside</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sticky-element element-fixed"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"position: fixed; top: 100px;"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>This will stick for 500 pixels<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"margin-bottom: 400px"</span>&gt;</span>
        WOW SUCH STICK VERY STABLE
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">aside</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ipsum voluptatem doloribus culpa tempore sed. A consequatur corporis eum ducimus sapiente Sit quas unde blanditiis doloremque nulla. Esse reprehenderit vero error rem necessitatibus Sapiente quisquam blanditiis reprehenderit libero quos? Similique libero provident inventore eius repellendus dolor placeat libero Omnis illum dolorum quis nam enim itaque, autem. Veniam eligendi inventore quis assumenda rerum ducimus sed distinctio exercitationem Animi amet libero quidem voluptates debitis, illum? Id non mollitia maxime rerum commodi expedita culpa placeat. Nemo impedit dolore harum debitis aspernatur Voluptatem aut nobis sapiente nemo suscipit, soluta animi Reiciendis blanditiis sint magni modi quaerat. Laboriosam in dicta distinctio tenetur aliquid? Sit.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Amet tempora vitae et tempora reiciendis. Explicabo nulla porro nobis voluptate excepturi Repellendus ut neque laborum sunt sapiente. Eius assumenda distinctio laborum et adipisci, cumque. Dicta quae rem expedita dolorem autem? Inventore dolorum at dignissimos veniam voluptas iure. Deserunt quidem soluta rerum magni sit, nemo Delectus odit ipsum corporis quod eos optio Ex sapiente earum eligendi molestiae nihil Cupiditate pariatur numquam nemo mollitia iste culpa, ducimus. Perspiciatis illo quis officia nemo error optio blanditiis Eligendi voluptatum quasi reprehenderit fuga cum quia pariatur illum. Nam asperiores natus quibusdam nostrum delectus ut praesentium Sint quibusdam beatae praesentium a delectus, cupiditate similique Amet!<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Dolor aliquam possimus vero maxime est? Nisi distinctio explicabo inventore doloremque nam? Repellendus ad dolores molestias tempora animi? Labore placeat voluptas iusto voluptatum animi Iste quos adipisci numquam nesciunt iure Voluptas sunt hic adipisci repellat minima? Quas vero in eligendi omnis mollitia Aut eum et ex recusandae odio Sequi officia placeat blanditiis quia omnis, totam. Magnam fugit sapiente deserunt illo veritatis Tenetur esse at veritatis dolorum ab. Perferendis officiis dolor autem tenetur doloribus tempore expedita. Amet ducimus autem quia debitis minima. Cupiditate ea quasi eos fuga tenetur Ipsa a at exercitationem sequi commodi ex Minus quam eius neque nulla iusto<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ipsum vitae ab possimus laboriosam voluptate nostrum Ratione ducimus itaque et id optio! Odit nobis alias nihil exercitationem nostrum Tempora laudantium a alias a suscipit Recusandae autem saepe dolor sapiente modi. Vel totam quia hic nobis quis Exercitationem eaque veritatis modi nihil esse. Numquam atque ratione velit in minima Eveniet in dicta ullam quia ad Nostrum eius odit voluptas maxime cumque. Libero nam atque sapiente ipsam sint Enim obcaecati illo in amet quidem. Necessitatibus eligendi quam molestiae voluptatem voluptatum beatae, impedit magni Ut enim inventore aliquid iste quasi facilis inventore. Atque harum maxime quis unde molestiae Culpa labore perspiciatis repellat.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ipsum totam voluptatibus eveniet sequi eligendi? Veritatis ipsum quod nostrum consectetur beatae! Sint reiciendis quas in quos sint, distinctio Accusantium vero cupiditate labore iure ea. Ipsum dolore omnis distinctio voluptates aliquid. Numquam nemo laboriosam veniam ab obcaecati Ipsa aut placeat quaerat quo recusandae minima Tempore magnam corrupti natus fugiat laborum nisi Voluptatum repellat distinctio provident amet praesentium Quis sit esse maxime placeat nulla, asperiores, nesciunt Quisquam nisi cupiditate quos magni illo corporis quae? Dolores tempora maiores voluptates aut sed, minima iste Dolorem ab delectus debitis minima voluptates enim! Cumque reprehenderit neque nemo accusantium ullam distinctio aut Consectetur quibusdam voluptatum tempore<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-177d115da0d01aa790cd523157e73fd5-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"scripts"</span>: []
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-177d115da0d01aa790cd523157e73fd5-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-ffeeec8e69b73f07821acbd8ee446e29">sticky-element.js</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-ffeeec8e69b73f07821acbd8ee446e29" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre>$(<span class="hljs-string">'.sticky-element'</span>).fix({
    <span class="hljs-attr">duration</span>: <span class="hljs-number">100</span>,
    <span class="hljs-attr">offset</span>: <span class="hljs-number">0</span>,
});
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/sticky-element/sticky-element.js"><span>/components/raw/sticky-element/sticky-element.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">resources/styles/utilities/sticky-element/sticky-element.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">65 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-177d115da0d01aa790cd523157e73fd5-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@sticky-element</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/sticky-element.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/sticky-element.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">resources/styles/utilities/sticky-element/sticky-element.twig</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-177d115da0d01aa790cd523157e73fd5-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-atoms">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Atoms</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="breadcrumbs.html" data-pjax>
                <span>Breadcrumbs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pagination.html" data-pjax>
                <span>Pagination</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="progress.html" data-pjax>
                <span>Progress</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #886600;" title="Deprecated"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="toggle-button.html" data-pjax>
                <span>Toggle Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-molecules">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Molecules</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #886600;" title="Deprecated"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="feature.html" data-pjax>
                <span>Feature</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="messaging.html" data-pjax>
                <span>Messaging</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tabs.html" data-pjax>
                <span>Tabs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #886600;" title="Deprecated"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tiles.html" data-pjax>
                <span>Tiles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-organisms">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Organisms</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="background-video.html" data-pjax>
                <span>Background Video</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="carousel.html" data-pjax>
                <span>Carousel</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="dossier.html" data-pjax>
                <span>Dossier</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #886600;" title="Deprecated"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="features.html" data-pjax>
                <span>Features</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="login.html" data-pjax>
                <span>Login</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="primary-header.html" data-pjax>
                <span>Primary Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="testimonial.html" data-pjax>
                <span>Testimonial</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing.html" data-pjax>
                <span>Listing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-utilities">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Utilities</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="columns.html" data-pjax>
                <span>Columns</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="container.html" data-pjax>
                <span>Container</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grid.html" data-pjax>
                <span>Grid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="mobile-navigation.html" data-pjax>
                <span>Mobile Navigation</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Sticky Element</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="sticky-header.html" data-pjax>
                <span>Sticky Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
