

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Background Video: Default (background-video--default) - Pattery Library</title>

    <link rel="stylesheet" href="/boilerplate-components/css/main.css">

    <script defer src="/boilerplate-components/js/manifest.js"></script>
    <script defer src="/boilerplate-components/js/vendor.js"></script>
    <script defer src="/boilerplate-components/js/main.js"></script>

    </head>
<body>
    <div class="backgroundVideo">
    <div class="backgroundVideo__backdrop">
        <div>
            <h1>
                Imarc loves background videos
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit fuga.
            </p>
        </div>
    </div>
    <video class="backgroundVideo__video" autoplay="autoplay" loop="loop" poster="/media/video_placeholder.jpg">
        <source src="/boilerplate-components/media/imarc_culture_video_1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        <source src="/boilerplate-components/media/imarc_culture_video_1.webmhd.webm" type='video/webm; codecs="vp8, vorbis"' />
    </video>
</div>

</body>
</html>

