

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Breadcrumbs: Default (breadcrumbs--default) - Pattery Library</title>

    <link rel="stylesheet" href="/boilerplate-components/css/main.css">

    <script defer src="/boilerplate-components/js/manifest.js"></script>
    <script defer src="/boilerplate-components/js/vendor.js"></script>
    <script defer src="/boilerplate-components/js/main.js"></script>

    </head>
<body>
    <nav class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="">Item 1</a></li>
        <li class="breadcrumbs__item -active"><a class="breadcrumbs__link" href="">Item 2</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="">Item 3</a></li>
    </ul>
</nav>

</body>
</html>

