

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Button: Disabled (button--disabled) - Pattery Library</title>

    <link rel="stylesheet" href="/boilerplate-components/css/main.css">

    <script defer src="/boilerplate-components/js/manifest.js"></script>
    <script defer src="/boilerplate-components/js/vendor.js"></script>
    <script defer src="/boilerplate-components/js/main.js"></script>

    </head>
<body>
    <button class="button -disabled" disabled>Disabled Button</button>
<input class="button -disabled" disabled type="button" value="Button Input">
<input class="button -disabled" disabled type="submit" value="Submit Input">
<input class="button -disabled" disabled type="reset" value="Reset Input">

</body>
</html>

