

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Columns: Default (columns--default) - Pattery Library</title>

    <link rel="stylesheet" href="/css/main.css">

    <script defer src="/js/manifest.js"></script>
    <script defer src="/js/vendor.js"></script>
    <script defer src="/js/main.js"></script>

    </head>
<body>
    <div class="columns">
    <div>
        <h2>A column</h2>
    </div>
    <hr />
    <div>
        <h2>Another column</h2>
    </div>
</div>

</body>
</html>

