

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Messaging: Default (messaging--default) - Pattery Library</title>

    <link rel="stylesheet" href="/css/main.css">

    <script defer src="/js/manifest.js"></script>
    <script defer src="/js/vendor.js"></script>
    <script defer src="/js/main.js"></script>

    </head>
<body>
    <div class="messaging">
    <p>
        <strong>Default</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>

</body>
</html>

