

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Messaging (messaging) - Pattery Library</title>

    <link rel="stylesheet" href="/css/main.css">

    <script defer src="/js/manifest.js"></script>
    <script defer src="/js/vendor.js"></script>
    <script defer src="/js/main.js"></script>

    </head>
<body>
    <!-- Start: @messaging--default -->
<div class="messaging">
    <p>
        <strong>Default</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>
<!-- End: @messaging--default -->

<!-- Start: @messaging--error -->
<div class="messaging -error">
    <p>
        <strong>Error</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
    <ul>
        <li>Error one</li>
        <li>Error two</li>
    </ul>
</div>
<!-- End: @messaging--error -->

<!-- Start: @messaging--info -->
<div class="messaging -info">
    <p>
        <strong>Info</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>
<!-- End: @messaging--info -->

<!-- Start: @messaging--success -->
<div class="messaging -success">
    <p>
        <strong>Success</strong> – Message with a <a href="https://www.imarc.com/">link</a>.
    </p>
</div>
<!-- End: @messaging--success -->

</body>
</html>

