

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Testimonial: Default (testimonial--default) - Pattery Library</title>

    <link rel="stylesheet" href="/boilerplate-components/css/main.css">

    <script defer src="/boilerplate-components/js/manifest.js"></script>
    <script defer src="/boilerplate-components/js/vendor.js"></script>
    <script defer src="/boilerplate-components/js/main.js"></script>

    </head>
<body>
    <div class="testimonial">
    <div class="container">
        <div class="testimonial__row">
            <div class="testimonial__asset">
                <img class="testimonial__image" src="http://dummyimage.com/900x900/ff675b/fff.png&amp;text=Company logo or headshot" alt="" title="" style="">
            </div>
            <div class="testimonial__content">
                <blockquote class="testimonial__quote">
                    It was an honor to work with Imarc. They demonstrated, very early on, a true ability to understand our business and solve for our needs—create a new intranet site, one that would increase engagement and foster community. Imarc delivered incredible results, taking our former site to new heights. We couldn’t be happier with their work and subject matter expertise.
                </blockquote>
                <p class="testimonial__attribution">
                    – John Smith, Chief Marketing Officer, Acme Co
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>

